<%= link_to "back", user_groups_path %>
<% if @group.user_id == current_user.id %>
  <h1><%= @group.name %></h1>

  <div id="entries">
   Total:<%= @group.entries.sum(:amount) %> <br>
    <% @group.entries.each do |entry| %>
      <%= render entry %>
      <%= link_to "Edit", edit_user_group_entry_path(current_user, @group, entry) %>
      <%= link_to "Delete", user_group_entry_path(current_user, @group, entry), data: {turbo_method: :delete} %>
    <% end %>
  </div>

  <button>
    <%= link_to "New transaction", new_user_group_entry_path(@user, @group) %>
  </button>
<% else %>
  <p>Page not found</p>
<% end %>


