<div class="std-page", style="justify-content: space-between;">
  <% @groups.each do |group| %>
    <a href="<%= user_group_entries_path(current_user, group) %>">
      <%= render group %>
      <%= link_to "Edit", edit_user_group_path(current_user, group) %>
      <%= link_to "Delete", user_group_path(current_user, group), data: {turbo_method: :delete} %>
    </a>
  <% end %>
  <div class="green-div">
   <%= link_to "New category", new_user_group_path, class: "green-btn" %>
  </div>
</div>