<!DOCTYPE html>
<html>
  <head>
    <title>Fundsense</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "budget_mobile", media: "screen and (min-width: 320px) and (max-width: 768px)" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "groups" %>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.6.0.min.js" %>
  </head>

  <body>
    <p style="color: green;"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
